{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Smart Pass - Histórico</title>
    <link rel="stylesheet" href="{% static 'saidas/style.css' %}">
</head>

<body>
<header class="topo">
    <div class="logo">SMART PASS</div>

    <nav>
        <a href="{% url 'inicio' %}">Painel</a>
        <a href="{% url 'registrar_saida' %}">Registrar saída</a>
        <a href="{% url 'historico' %}">Histórico</a>
    </nav>
</header>

<h1>SMART PASS</h1>
<h2>Histórico de Saídas</h2>

<hr>

<form method="get">
    <input
        type="text"
        name="busca"
        placeholder="Buscar aluno ou matrícula"
        value="{{ busca }}"
    >


<button type="submit">Buscar</button>


</form>

<br>

<a href="{% url 'inicio' %}">
    Voltar ao painel
</a>

<a href="{% url 'registrar_saida' %}">
    Registrar saída
</a>

<hr>

<table>
    <tr>
        <th>Aluno</th>
        <th>Turma</th>
        <th>Motivo</th>
        <th>Responsável</th>
        <th>Data</th>
        <th>Horário</th>
    </tr>


{% for saida in saidas %}
<tr>
    <td>{{ saida.aluno.nome }}</td>
    <td>{{ saida.aluno.turma }}</td>
    <td>{{ saida.motivo }}</td>
    <td>{{ saida.responsavel }}</td>
    <td>{{ saida.data }}</td>
    <td>{{ saida.horario }}</td>
</tr>
{% endfor %}


</table>

</body>
</html>
