{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Smart Pass - Painel</title>
    <link rel="stylesheet" href="{% static 'saidas/style.css' %}">
</head>

<body>


<header class="topo">
    <div class="logo">SMART PASS</div>

   <nav>
    <a href="{% url 'inicio' %}">Painel</a>
    <a href="{% url 'registrar_saida' %}">Registrar saída</a>
    <a href="{% url 'historico' %}">Histórico</a>
    <a href="{% url 'alunos' %}">Alunos</a>
</nav>
</header>
<div class="titulo-painel">
    <h1>SMART PASS</h1>
    <p>Sistema de controle de saídas escolares</p>
</div>

<hr>

<h3>Resumo</h3>

<div class="cards">


<div class="card card-alunos">
    <h2>ALUNOS</h2>
    <h3>Total de alunos</h3>
    <p>{{ total_alunos }}</p>
</div>

<div class="card card-saidas">
    <h2>SAIDAS</h2>
    <h3>Total de saídas</h3>
    <p>{{ total_saidas }}</p>
</div>

<div class="card card-hoje">
    <h2>HOJE</h2>
    <h3>Saídas de hoje</h3>
    <p>{{ saidas_hoje }}</p>
</div>


</div>

<hr>

<h3>Ações</h3>

<a href="{% url 'registrar_saida' %}">
    Registrar saída
</a>

<a href="{% url 'historico' %}">
    Ver histórico
</a>

<hr>

<h3>Últimas saídas</h3>

<table>
    <tr>
        <th>Aluno</th>
        <th>Turma</th>
        <th>Motivo</th>
        <th>Responsável</th>
        <th>Data</th>
        <th>Horário</th>
    </tr>


{% for saida in ultimas_saidas %}
<tr>
    <td>{{ saida.aluno.nome }}</td>
    <td>{{ saida.aluno.turma }}</td>
    <td>{{ saida.motivo }}</td>
    <td>{{ saida.responsavel }}</td>
    <td>{{ saida.data }}</td>
    <td>{{ saida.horario }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
